@model Widly.ViewModels.MovieViewModel
@{
    ViewBag.Title = "Random";
}

<div>
    @Html.ActionLink("Add New Movie", "MovieForm", "Movies")
</div>
@if (Model.Movies.Count() == 0)
{
    <p>No one has rented this movie yet!</p>
}
else
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col"><h3>Movies</h3></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model.Movies)
            {

                <tr class="table-light">
                    <td><a href="@Url.Action("EditMovie", "Movies", new { id = movie.Id })">@movie.Name</a></td>
                </tr>
            }
        </tbody>
    </table>
}